@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0 0;
  padding: 0 0;
}

.App {
  width: 100vw;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: revert;
    font-weight: revert;
  }
  pre {
    font-family: "Fira Code", monospace;
    font-size: 14px;
    line-height: 1.2;
    padding: 10px;
    background-color: #1e1e1e;
    color: #d4d4d4;
    border-radius: 5px;
    overflow-x: auto;
  }
  figure {
    border-bottom: 0.5px solid gray !important;
  }
}
